suPHP_ConfigPath /var/www/html/php-ini/
# AddHandler fcgid-script .php .phps
# FCGIWrapper "/home/marubunkisen/marubun-kisen.com/xserver_php/php-cgi" .php
# FCGIWrapper "/home/marubunkisen/marubun-kisen.com/xserver_php/php-cgi" .phps
